@import "tailwindcss";

:root {
    --cafe-primary: #5E0000;
    --cafe-secondary: #E8E8E8;
}

/* Font custom */
.font-asset {
    font-family: 'Asset', sans-serif;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
}